/*Normalize Css */
html,body{
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    max-width: 1242px;
    margin: 0 auto;
}
 /* Css Header*/
 .header{
    /*background-color: grey;*/
 }
 .header-cont{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}
 .left-container, .right-container{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
.header-brand{
    max-width: 100px;
}
.main-nav{
    list-style: none;
    display: inline-flex;
    flex-direction: row;
}
.nav-item{
    
    margin-right: 20px;
    color: #e5e5e5;
}
.nav-item.active{
    color: white;
}
.right-container svg, .right-container img{
margin: 22px;
cursor: pointer;
}
.right-container svg{
color: white;
}
.right-container img{
    max-width: 36px;
}
/*Responsive */
@media (max-width:767px) {
    .main-nav{
        display: none;
    }
}

/*Movie Section Style Start*/
.movies-section{

}
.movie-section-heading{
font-size: 20px;
color: white;
font-weight:800;
line-height: 1.2;
cursor: pointer;
margin-bottom: 10px;
}
.movie-item{
width: 245px;
object-fit: contain;
margin-right: 6px;
border-radius: 4px;
}
.explore-nudge{
color:#54b9c5;
font-size: 12px;
display:none;
}
.movie-section-heading:hover .explore-nudge{
display: inline-block;
}
.movie-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.movie-item:hover{
    transform: scale(1.3);
    transition: transform linear 100ms;
}